* {
  font-family: 'Work Sans', sans-serif !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.MuiTableRow-root.Mui-selected,
.MuiTableRow-root.Mui-selected:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.MuiFormHelperText-contained {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.MuiFormHelperText-root {
  color: #f44336 !important;
  margin-left: 4px !important;
}

.MuiFormHelperText-root span::before {
  content: "• " !important;
}

table thead tr th,
table tbody tr td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

table thead tr th {
  font-weight: 600 !important;
  font-size: 12px !important;
}

table tbody tr td {
  font-size: 15px !important;
  font-weight: 500 !important;
}

@media (max-width: 600px) {
  .MuiFormHelperText-root {
    width: 229px;
  }
}

@media (max-height: 700px) {
  .App {
    display: block;
  }
}
